<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>CW 2 - VueJS</title>
</head>

<body>

    <div id="main-app">

        <!-- header of the page  -->
        <div class="header">
            <h1 v-if="showProductsPage">BOOK YOUR LESSONS !</h1>
            <h1 v-else>CART</h1>
            <button id="checkoutBtn" class="checkout-btn" v-on:click="showCheckoutPage">{{cartCounter}}<i class="fa-solid fa-cart-shopping" style="color: #000000;"></i>Checkout</button>
        </div>

        <!-- sort boxes container -->
        <div class="sort-container" v-if="showProductsPage">

            <!-- Title -->
            <select v-model="titleSort" @change="sortByTitle">
                <option value="Default">Title</option>
                <option value="Ascending">Ascending</option>     
                <option value="Descending">Descending</option>
            </select>

            <!-- Location -->
            <select v-model="locationSort" @change="sortByLocation">
                <option value="Location">Location</option>
                <option value="Ascending">Ascending</option>     
                <option value="Descending">Descending</option>
            </select>

            <!-- Availability -->
            <select v-model="availabilitySort" @change="sortByAvailability">
                <option value="Spaces">Spaces</option>
                <option value="Ascending">Low - High</option>     
                <option value="Descending">High - Low</option>
            </select>

            <!-- Price -->
            <select v-model="priceSort" @change="sortByPrice">
                <option value="Price">Price</option>
                <option value="Ascending">Low - High</option>     
                <option value="Descending">High - Low</option>
            </select>

        </div>

        <!-- Lesson page container -->
        <div class="cards" v-if="showProductsPage">
            <div v-for="(subject, subjectIndex) in subjects":key="subject.product_id">
                <div class="lesson-container">
                    <img v-bind:src="subject.img" alt="Icon">
                    <h2 v-text="subject.name"></h2>
                    <p v-text="subject.location"></p>
                    <p>£ {{subject.price}}</p>
                    <p>Spaces : {{subject.invQuantity}} </p>
                    <button class="addToBasket" v-on:click="addToCart(subject, subjectIndex)" v-if="checkAvailability(subject)">ADD LESSON</button>
                    <button class="btn-disabled" disabled v-else>ADD LESSON</button>
                </div>
            </div>
        </div>

        <!-- Checkout page container -->
        <div class="checkout-container" v-else>

            <div class="checkout-row" v-for="item in cart">
                <img v-bind:src="item.img">
                <p v-text="item.name"></p>
                <p>£ {{ item.price }}</p>
                <p>{{ item.quantity }}</p>
                <button class="remove-cart" v-on:click="removeCartItem(item)">REMOVE</button>
            </div>

            <!-- checkout form container-->
            <div class="form-container">
                <form name="checkout-form" id="checkoutForm" action="#">
                    <input type="text" name="cName" id="cName" placeholder="Full Name" oninput="validateForm()">
                    <input type="text" name="cName" id="phonenumber" placeholder="Phone Number" oninput="validateForm()">
                    <input type="submit" value="Checkout" disabled id="submitFormBtn" onclick="submitOrder()">
                </form>
            </div>

        </div>

    </div>

    <script src="app.js"></script>

</body>

</html>